body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

nav {
background-color: black;
padding: 20px;
text-align: center;
border-bottom: 2px solid rgb(113, 52, 113);
}

nav ul{
text-align: center;
}

nav h1{
    color: rgb(113, 52, 113) ;
    font-size: 30px;
    font-weight: bold;
}

nav li {
    margin: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

nav a:hover {
    color: rgb(113, 52, 113);
}

#home {
    text-align: center;
    padding: 80px 20px;
    background-color: black;
}

#home h2 {
    color: rgb(113, 52, 113);
font-size: 50px;
font-weight: bold;
}

#home p{
    color: lightgray;
    font-size: 18px;
    
}

#home button{
background-color:rgb(113, 52, 113) ;
color: white;
padding: 15px 25px;
border: 2px solid rgb(113, 52, 113);
font-size: 15px;
font-weight: bold;
}
#home button:hover{
    background-color: rgb(73, 31, 73) ;
}

#games{
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    text-align: center;
}

#games h2{
    color: rgb(113, 52, 113);
    font-size: 35px;
}

#games > div{
width: 290px;
margin: 30px auto;
padding: 20px;
background-color: black;
border: 2px solid rgb(80, 79, 79);
}
#games > div > div:hover{
    border: 2px solid rgb(113, 52, 113);
}

#games img{
    width: 100%;
}

#games h3{
    color: rgb(113, 52, 113);
    font-size: 22px;
}

#games p{
    color: lightgray;
    font-size: 15px;
}

button{
    background-color: rgb(113, 52, 113);
    color: white;
    padding: 10px 20px;
    border: 2px solid rgb(113, 52, 113);
    font-size: 20px;
}
button:hover{
    background-color: rgb(78, 35, 78);
}

#about{
    background-color: black;
    padding: 50px;
    text-align: center;
    border-top: 2px solid rgb(79, 79, 79);
}

#about h2{
    color: rgb(113, 52, 113);
    font-size: 35px;
}

#about p{
    color: lightgrey;
    font-size: 15px;

}

#contact {
    width: 70%;
    margin: 40px auto;
    padding: 30px;
    text-align: center;
}

#contact h2{
    color: rgb(113, 52, 113);
    font-size: 35px;
}

form {
    width: 80%;
    margin: auto;
}
form label{
    font-weight: bold;
}

form input, form textarea{
    width: 90%;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    border: 2px solid rgb(94, 94, 94);
}

form input:hover, form textarea:hover{
    border: 2px solid rgb(113, 52, 113);
}

footer{
    background-color: black;
    padding: 25px;
    text-align: center;
    border-top: 2px solid rgb(113, 52, 113);
}

footer p{
    color: lightgray;
    font-size: 15px;
}

